hand_dataset
.idea/
NeuralNet/cifar-10-batches-py
NeuralNet/MNIST
NeuralNet/models-master
NeuralNet/darkflow
NeuralNet/ssd_mobilenet_v1_coco_2017_11_17.tar.gz
NeuralNet/ssd_mobilenet_v1_coco_2017_11_17